!!! 5
html(lang="en")
  head
    title OAuth
    link(href="/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
    script(type='text/javascript', src="../js/include.js")
  body
    #container
      header
        h1 Express Storage
        h2 OAuth
      #wait
        p Please wait...
      #allow
        p
          | UserAddress: #{userAddress}
        p
          | App: #{redirectUri}
        p
          | Scope: #{scope}
          br
        input(type="submit", value="Allow", onclick="go();")
      form(method="POST")
        input(type="hidden", id="userAddress", name="userAddress", value="#{userAddress}")
        input(type="hidden", name="scope", value="#{scope}")
        input(type="hidden", name="redirectUri", value="#{redirectUri}")
        input(type="hidden", id="assertion", name="assertion")
    script(type='text/javascript', src="../js/oauth.js")
